<tr>
  <td class="micropost">
    <span class="content"><%= @micropost.content %></span>
        <span class="timestamp">
            Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
    </span>
  </td>

<ul>
  <%@comments.each do |i| %>
      <li>
        <%= i.content%>
      </li>
  <%end%>
</ul>

<div id="new_comment">

  <%= form_for @comment, :remote => true, :html => { :'data-type' => 'html', :id => 'add_comment_micropost_comments_path(@micropost.id)' } do |f| %>
      <%= f.text_area(:content) %>
      <div class="validation-error"></div>
      <%= f.submit %>
  <% end %>

  <div id="comments"></div>
</div>