<tr xmlns="http://www.w3.org/1999/html">
  <td class="micropost">
    <span class="content"><%= @micropost.content %></span></br></br>
        <span class="timestamp">
            Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
    </span>
  </td>

<div id="new_comment">

  <%= form_for [@micropost, @micropost.comments.build], :url => comments_path, :remote => true, :html => { :'data-type' => 'html', :id => 'add_comment_micropost_comments' } do |f| %>
      <%= f.text_area(:content) %>
      <div class="validation-error"></div>
      <%= f.submit %>
  <% end %>

  <div id="comments"></div>
</div>


